main {
    padding: .50rem 0 0;
}

.cinema-view {
    background-color: #fff;
    width: 100%;
}

.district {
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding-left: 16px;
        background: #e1e1e1;
        margin-bottom: 1px;
        color: #636363;
        cursor: pointer;
    }
}