.details{
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
    img{
        height: 2.11rem;
    }
    h3{
        margin: 0.16rem auto;
        border-left: 0.16rem solid RGB(228, 200, 156);
        font-size: 0.16rem;
        padding-left: 0.04rem;
        color: #333;
    }
    ul{
        width: 100%;
        overflow: hidden;
        color: #333;
        padding-left: 0.2rem;
        li{
            width: 100%;
            font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
            font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
            margin-bottom: 0.1rem;
            overflow: hidden;
        }
    }
}