.login{
    height: 100%;
    overflow: hidden;
    background-color: #f6f6f6;
    input{
        border: 0;
        width: 3.52rem;
        height: 0.34rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.3rem;
        text-indent: 1em;
        background-color: #f6f6f6;
        color: #c4c4c4;
    }
    span{
        display: block;
        width: 3.52rem;
        height: 0.12rem;
        border:1px solid #c4c4c4;
        margin: 0 auto;
        margin-top: -0.12rem;
        z-index: 10;   
        border-top: none; 
    }
    button{
        width: 1.63rem;
        background-color: #fe8233;
        color: #fff;
        border: none;
        border-radius: 36px;
        // margin-top: 45px 0 ;
        padding: 8px 12px;
        font-size: 15px;
        outline: none;
        position: absolute;
        left: 0;
        right: 0;
        margin: .45rem  auto;
    }
}