<div class="cinema-wrap" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834">
    <div class="cinema clearfix" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0">
        <div class="cinema-title" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0">
            <div class="cinema-title-cinemaname" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.0">
                <i data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.0.0">大地数字影院金锣湾店</i>
                <span data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.0.1"></span>
                <span data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.0.2"></span>
            </div>
            <span class="cinema-title-tip no-buy" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.1">
                <i class="tip_04" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.1.0">暂不支持购票</i>
            </span>
            <span class="cinema-title-address" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.2">
                <span data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.2.0">北京市延庆区妫水北街39号1幢H座首层（金锣湾商业中心）沃尔玛旁</span>
                <span data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.2.1"> </span>
            </span>
            <div class="cinema-title-location" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.3">
                <span data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.3.0">距离</span>
                <span data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.0.3.1">未知</span>
            </div>
        </div>
        <span class="pull-right nav" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.1">
            <i class="iconfont icon-arrow-right book" data-reactid=".0.1.$CinemaListView-0.1:$yan-qing-qu.1.$4834.0.1.0"></i>
        </span>
    </div>
</div>