<div class="details">
    <img src="https://pic.maizuo.com/usr/movie/1f7055e3e1c516bd1688e3b0261b5a5f.jpg" alt="">
    <h3>影片简介</h3>
    <ul>
        <li>导 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 演：Siddharth|Malhotra</li>
        <li>主 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 演：拉妮·玛克赫吉 | 内拉吉·卡比 | 萨钦 | 苏普丽雅·皮尔加卡尔 | 侯赛因·达拉尔</li>
        <li>地区语言：印度(印度语)</li>
        <li>类 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 型：剧情|喜剧</li>
        <li>上映日期：10月12日上映</li>
        <li> 患有抽动秽语综合征的女主人公奈娜。经过无数次面试失败后，终于找到理想的工作，成为了一名中学老师。然而她被指派的班级学生却是全校最顽皮的学生。</li>
    </ul>
</div>