<nav class="movies_nav">
    <a href="##">
        正在热映
    </a>
    <a href="##">
        即将热映
    </a>
</nav>

<ul>
    <li>
        <img src="https://pic.maizuo.com/usr/movie/3d385ca6cc4d6d7a7662183f74c97dde.jpg?x-oss-process=image/resize,m_fixed,h_0,w_300" alt="影片海报">
        <div>
            <div>无双</div>
            <div>钞级大骗</div>
            <div>
                <span>151</span><span>家影院上映</span>
                <span>1</span><span>人购票</span>
            </div>
        </div>
    </li>
</ul>