<section class="cinema-view cinema-detail-view" >
    <div class="row">
        <div class="col-xs-12">
            <div class="img-responsive">
                <img src="//static.m.maizuo.com/v4/static/app/asset/66461d1a02a9eaa64876c90952c42aed.png" style="width: 100%; transition: all 1.2s ease 0s; opacity: 1;">
            </div>
        </div>
    </div>
    <div class="row detail-box clearfix">
        <div class="box-warp">
            <div class="img pull-left">
                <i class="yo-ico icon-chair">&#xe695;</i>
            </div>
            <div class="box">
                <h3>订座票</h3>
                <span>选好场次及座位，到影院自助机取票</span>
                <button class="btn-default seat-btn" type="button">立即订座</button>
            </div>
        </div>
    </div>
    <div class="row detail-box center">
        <div class="box-warp">
            <div class="img m_t pull-left">
                <i class="yo-ico icon-location">&#xe61c;</i>
            </div>
            <div class="box">
                <h4 class="">{{address}}</h4>
            </div>
        </div>
    </div>
    <div class="row detail-box center">
        <div class="box-warp">
            <div class="img m_t pull-left">
                <i class="yo-ico icon-phone">&#xe69d;</i>
            </div>
            <div class="no_border box">
                <h4>{{telephones}}</h4>
            </div>
        </div>
    </div>
    <div class="row other-detail-box">
        <ul class="list-inline clearfix">
            <li class="col-xs-2 active col-xs-offset-1" data-type="1">
                <div class="li-w">
                    <div class="li-warp">
                        <i class="yo-ico icon-ticket img_top">&#xe6ac;</i>
                        <i class="yo-ico icon-ticket img_bot"></i>
                        <span>取票</span>
                    </div>
                </div>
            </li>
            <li class="col-xs-2 col-xs-offset-1" data-type="3">
                <div class="li-w">
                    <div class="li-warp">
                        <i class="yo-ico icon-ticket img_top">&#xe66f;</i>
                        <i class="yo-ico icon-ticket img_bot"></i>
                        <span>3D</span>
                    </div>
                </div>
            </li>
            <li class="col-xs-2 col-xs-offset-1" data-type="2">
                <div class="li-w">
                    <div class="li-warp">
                        <i class="yo-ico icon-ticket img_top">&#xe602;</i>
                        <i class="yo-ico icon-ticket img_bot"></i>
                        <span>停车</span>
                    </div>
                </div>
            </li>
            <li class="col-xs-2 col-xs-offset-1" data-type="4">
                <div class="li-w">
                    <div class="li-warp">
                        <i class="yo-ico icon-ticket img_top">&#xe630;</i>
                        <i class="yo-ico icon-ticket img_bot"></i>
                        <span>优惠</span>
                    </div>
                </div>
            </li>
            <li class="col-xs-2 col-xs-offset-1" data-type="5">
                <div class="li-w">
                    <div class="li-warp">
                        <i class="yo-ico icon-ticket img_top">&#xe61e;</i>
                        <i class="yo-ico icon-ticket img_bot"></i>
                        <span>交通</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="li-box">
            <p>暂无信息</p>
        </div>
    </div>
</section>